altgraph==0.17
astroid==2.4.2
autopep8==1.5.4
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
future==0.18.2
h11==0.11.0
httpcore==0.12.1
httpx==0.16.1
idna==2.10
isort==5.6.4
keyboard==0.13.5
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
pefile==2019.4.18
Pillow==8.0.1
PyAutoGUI==0.9.52
pycodestyle==2.6.0
PyGetWindow==0.0.9
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
PyMsgBox==1.0.9
pyperclip==1.8.1
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.26
pytube==9.7.2
PyTweening==1.0.3
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.0
rfc3986==1.4.0
selenium==3.141.0
six==1.15.0
sniffio==1.2.0
spark-parser==1.8.9
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
uncompyle6==3.7.4
urllib3==1.26.2
wrapt==1.12.1
xdis==5.0.5
